{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "endOfLine": "crlf",
  "htmlWhitespaceSensitivity": "ignore",
  "trailingComma": "none"
}
