{
  "plugins": [
    "stylelint-selector-bem-pattern",
    "stylelint-order"
  ],
  "rules": {
    "at-rule-empty-line-before": null,
    "at-rule-name-space-after": null,
    "at-rule-no-unknown": null,
    "color-hex-case": "lower",
    "declaration-colon-newline-after": null,
    "declaration-empty-line-before": "never",
    "declaration-no-important": null,
    "font-family-name-quotes": "always-where-recommended",
    "function-comma-newline-after": null,
    "function-parentheses-space-inside": null,
    "function-url-quotes": "never",
    "max-empty-lines": 1,
    "max-nesting-depth": 3,
    "media-feature-name-no-vendor-prefix": true,
    "no-descending-specificity": null,
    "no-duplicate-selectors": null,
    "no-eol-whitespace": null,
    "no-extra-semicolons": true,
    "number-leading-zero": "always",
    "rule-empty-line-before": null,
    "selector-attribute-quotes": "always",
    "selector-list-comma-newline-after": null,
    "selector-max-compound-selectors": 3,
    "selector-max-id": 0,
    "selector-max-specificity": "0,4,0",
    "selector-max-universal": 1,
    "selector-no-vendor-prefix": true,
    "selector-pseudo-element-colon-notation": "single",
    "string-quotes": "single",
    "unit-whitelist": [ "px", "em", "rem", "%", "s", "deg", "vw", "vh", "ms" ],
    "value-no-vendor-prefix": true,
    "plugin/selector-bem-pattern": {
      "componentName": "[A-Z]+",
      "componentSelectors": {
        "initial": "^\\.{componentName}(?:-[a-z]+)?$",
        "combined": "^\\.combined-{componentName}-[a-z]+$"
      },
      "utilitySelectors": "^\\.util-[a-z]+$"
    },
    "order/properties-order": [
      "content",
      "position",
      "top",
      "right",
      "bottom",
      "left",
      "z-index",
      "display",
      "visibility",
      "opacity",
      "flex",
      "flex-grow",
      "flex-shrink",
      "flex-basis",
      "flex-direction",
      "flex-flow",
      "flex-wrap",
      "align-content",
      "align-items",
      "align-self",
      "justify-content",
      "order",
      "float",
      "clear",
      "box-sizing",
      "width",
      "min-width",
      "max-width",
      "height",
      "min-height",
      "max-height",
      "padding",
      "padding-top",
      "padding-right",
      "padding-bottom",
      "padding-left",
      "margin",
      "margin-top",
      "margin-right",
      "margin-bottom",
      "margin-left",
      "overflow",
      "overflow-x",
      "overflow-y",
      "font",
      "font-style",
      "font-weight",
      "font-size",
      "line-height",
      "font-family",
      "font-variant",
      "text-align",
      "text-decoration",
      "text-shadow",
      "text-transform",
      "white-space",
      "vertical-align",
      "list-style",
      "list-style-position",
      "list-style-type",
      "color",
      "border",
      "border-width",
      "border-style",
      "border-color",
      "border-top",
      "border-top-width",
      "border-top-style",
      "border-top-color",
      "border-right",
      "border-right-width",
      "border-right-style",
      "border-right-color",
      "border-bottom",
      "border-bottom-width",
      "border-bottom-style",
      "border-bottom-color",
      "border-left",
      "border-left-width",
      "border-left-style",
      "border-left-color",
      "border-radius",
      "border-top-left-radius",
      "border-top-right-radius",
      "border-bottom-right-radius",
      "border-bottom-left-radius",
      "background",
      "background-image",
      "background-position",
      "background-position-x",
      "background-position-y",
      "background-size",
      "background-repeat",
      "background-attachment",
      "background-origin",
      "background-clip",
      "background-color",
      "outline",
      "box-shadow",
      "filter",
      "transform",
      "transform-origin",
      "pointer-events",
      "cursor",
      "transition",
      "transition-property",
      "transition-duration",
      "transition-timing-function",
      "transition-delay",
      "animation"
    ]
  }
}
