// @import '~@bm-ui/core/scss/generic';
// @import '~@bm-ui/core/scss/elements';
// @import '~@bm-ui/core/scss/layout';
// @import '~@bm-ui/core/scss/objects';
// @import '~@bm-ui/core/scss/utilities';

// @import '~@bm-ui/core/scss/components';

// @import '~@bm-ui/fonts/css/default/bundle.css';
// @import '~bootstrap/dist/css/bootstrap.min.css';

body {
  padding: 0;
  margin: 0;
  background-color: #f9fafb;
}
